/*
Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
End of reset (http://meyerweb.com/eric/tools/css/reset/)
http://cssreset.com
*/


body {
	font-family: "Open Sans", sans-serif;
    min-height: 400px;
}

h1 {
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	font-size: 72px;
	text-transform: uppercase;
	color: white;
	line-height: 1.0;
	display: inline;
	padding: 0px;
	margin: 0px;

}

h2 {
	font-size: 20px;
	color: white;
	line-height: 1.5;
}

h3 {
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 16px;
	color: white;
	line-height: 1.8;
	font-weight: bold;
}

h3 span{
	font-size: 10px;
	color: #e6e6e6;
}

hr {
	color: #FF8A80;
	border-color: #FF8A80;
	margin-bottom: 40px;
	padding: 0px;
}

#mobile_navigation_links {
    display: none;
}

.page_container {
	width: 960px;
	margin: auto;
	position: relative;
}

#page_content {
	background-color: #252525;
	background-image: url('bg.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 680px;
    position: relative;
    z-index: 1;
}

#content_margins {
	height: 100%;
	margin-left: 96px;
	margin-right: 96px;
	overflow: hidden;
    display: table;
}

#content {
	margin-top: 40%;
	width: 100%;
	float: lefst;
    display: table-cell;
    vertical-align: middle;
}


#nav_bar {
	background-color:rgba(255,255,255,0.1);
	border-bottom: 1px dotted rgba(255,255,255,0.25);
	width: 100%;
	position: absolute;
	top: 0;
	height: 52px;
}

#navigation_links {
    margin-left: 146px;
}

.top_bar {
	background-color: white;
	width: 100%;
	height: 16px;
    position: absolute;
    top: 0; 
}

.links_bar {
	z-index: 2;
	height: 34px;
	position: relative;
	margin-top: none;
    top: 16px;
	line-height: 34px;
     -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}

.round_tab {
	z-index: -1;
	background-color: white;
	height: 132px;
	width: 132px;
	position: absolute;
	top: -70px;
	left: 43px;
	-webkit-border-bottom-right-radius: 66px;
	-webkit-border-bottom-left-radius: 66px;
	-moz-border-radius-bottomright: 66px;
	-moz-border-radius-bottomleft: 66px;
	border-bottom-right-radius: 66px;
	border-bottom-left-radius: 66px;
}

#logo {
    margin-left: 53px;
  	margin-top: 96px;
}

.links_bar ul li {
	display: inline;
	text-transform: uppercase;
	font-weight: bold;

}

#navigation li {
	margin-left: 96px;
	font-size: 12px;
	float: left;
}

#social li {
	font-size: 9px;
	float: right;
	margin-right: 46px;
}

#social_links {
	margin-right: 56px;
	margin-top: 3px;
}

.links_bar a {
	color: white;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.links_bar a:hover {
	color: #FF8A80;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#menu {
  position: absolute;
  right: 10px;
  top: 0px;
  display: none;
}



@media only screen and (max-width: 900px) {
  
  #social_links {
    display: none;

  }
  
  #navigation_links {
    margin-top: 3px;
  }
  
  h1 {
    font-size: 64px;
  }
  
  h2 {
    font-size: 18px;
  }
  
}

@media only screen and (max-width: 500px) {
  

  #navigation_links {
    display: none;
  }
  
  /*Mobile Navigation*/
  
  #mobile_navigation_links {
    display: block;
    text-align: center;
    z-index: -1;
  }
  
  .round_tab {
    position: absolute;
	top: -70px;
	margin: auto;
	left:50%;
    margin-left:-66px;
    z-index: ;
  }
  
  #mobile_navigation {
    margin-top: 70px;
  }
  
  #mobile_navigation li {
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    border-bottom: 1px solid #FF8A80;
  }
  
  #mobile_navigation a {
    color: grey;
    text-decoration: none;
    line-height: 40px;
    font-weight: 800;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  
  #mobile_navigation a:hover {
    color: #FF8A80;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  
  #mobile_social a:hover {
    color: #FF8A80;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  
  #mobile_social {
    margin-top: 20px;
    margin-bottom: 70px;
  }
  
  #mobile_social li {
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: none;
    border-bottom: 1px dotted #FF8A80;
    height: 35px;
    line-height: 35px;
  }
  
  #mobile_social a {
    color: grey;
    text-decoration: none;
    line-height: 40px;
    font-weight: 800;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  
  #mobile_social a:hover {
    color: #FF8A80;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  
  /*.display_none {
    display: none !important;
  }*/
  
  
  /*Other Stuff*/

  .links_bar {
	z-index: 2;
	height: 34px;
	position: relative;
	line-height: 34px;
  }
  
  
  #content {
    text-align: center;
  }
  
  #content_margins {
    margin-left: 20px;
    margin-right: 20px;
    
  }
  

  
  #menu {
    display: block;
    padding: 10px;
  }
  
  h1 {
    font-size: 48px;
  }
  
  h2 {
    font-size: 16px;
  }
  
  hr {
    margin-bottom: 30px;
  }
}

@media only screen and (max-height: 470px) {
  
  hr {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 22px;
  }
  
  h2 {
    font-size: 12px;
  }
  

}


