$darkgrey: #353535;
$blue: #0e8d98;
$white: #ffffff;
$script_font: "Pacifico";
$decor_font: "Montserrat",
sans-serif;
$text_font: "Open Sans",
sans-serif;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

@mixin transition($seconds) {
  -webkit-transition: all $seconds ease-in-out;
  -moz-transition: all $seconds ease-in-out;
  -o-transition: all $seconds ease-in-out;
  transition: all $seconds ease-in-out;
}

body {
  font-family: $text-font;
  color: $darkgrey;
  margin: 0px;
}

// navigation
#mobile_links {
  display: none;
}

nav {
  position: absolute;
  width: 100%;
  margin-bottom: 0px;
  line-height: 44px;
}

nav div#bar {
  height: 20px;
  background-color: $white;
}

nav div#icon {
  position: absolute;
  left: 50px;
  top: -60px;
  height: 130px;
  width: 130px;
  background-color: $white;
  @include border-radius(65px);
  @include transition(0.5s)
}

nav div#icon:hover {
  top: -55px;
  @include transition(0.5s)
}

nav img#logo {
  margin-top: 90px;
  margin-left: 53px;
}

nav ul {
  padding: 0px;
  display: inline;
  //background-color: $blue;
  li {
    //background-color: yellow;
    display: inline;
    text-transform: uppercase;
    font-family: $decor_font;
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding: 2px 0px 2px 0px;
    a {
      text-decoration: none;
      color: white;
      padding: 2px 4px 2px 4px;
      @include transition(0.5s)
    }
    a:hover {
      //border-bottom: 2px solid $white;
      background-color: $blue;
      @include transition(0.5s); //color:  $blue;
    }
  }
}

nav ul#main_links {
  line-height: 1.5;
  margin-left: 200px;
  li {
    margin: 24px;
  }
}

nav ul#social_links {
  float: right;
  clear: both;
  margin-right: 50px;
  margin-top: 0px;
  li {
    font-size: 10px;
    margin: 16px;
  }
}

img#menu {
  display: none;
}

// header section
header,
#contact {
  background-color: $darkgrey;
  color: $white;
}

header {
  background-image: url("../images/bg.jpg");
  background-position: center;
  display: table;
  width: 100%;
}

header article {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

header article div {
  width: 75%;
  margin: auto;
  text-align: center;
}

h1 {
  font-family: $script_font;
  font-weight: 400;
  font-size: 200px;
  margin: 0px;
  padding: 0px;
  margin-left: -100px; //to center it
  margin-bottom: -84px;
}

h2 {
  font-family: $decor_font;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
  margin: 0px;
}

header p {
  padding-top: 40px;
  font-size: 20px;
}

//about section
section#about {
  display: table;
}

section#about article {
  display: table-cell;
  vertical-align: middle;
  width: 75%;
  margin: auto;
}

section#about article div {
  width: 75%;
  margin: auto;
  text-align: center;
}

section#about article p {
  font-size: 28px;
}

section#about article h3 {
  font-size: 80px;
  margin-bottom: 0px;
}

section#about article h4 {
  margin-top: 60px;
  font-size: 28px;
}

h3 {
  color: $blue;
  font-family: $script_font;
  font-weight: 400;
}

h4 {
  font-family: $decor_font;
  text-transform: uppercase;
  font-weight: 400;
}

span.code {
  background-color: $blue;
  color: $white;
  padding: 0px 6px 0px 6px;
}

@media (max-width: 840px),
(max-height: 520px) {
  // header
  h1 {
    font-size: 110px;
    margin: 0px 50px -44px 0px;
  }
  h2 {
    font-size: 30px;
  }
  header p {
    margin-top: -10px;
    font-size: 20px;
  }
  #mobile_links {
    display: none;
  }
  // about page
  section#about article {
    h3 {
      font-size: 60px;
    }
    h4 {
      font-size: 20px;
    }
    p {
      margin-top: 0px;
      font-size: 20px;
    }
  }
  nav ul#social_links {
    display: none;
  }
}

@media (max-width: 570px),
(max-height: 400px) {
  // mobile navigation
  #main_links {
    display: none;
  }
  #bar {
    //display: none;
  }
  #mobile_links {
    display: block;
    background-color: white;
    margin-bottom: 0px;
  }
  nav div#icon {
    position: static;
    margin: auto;
    margin-top: -80px;
  }
  img#menu {
    display: block;
    margin-right: 12px;
    float: right;
    margin-top: -38px;
  }
  nav {
    height: auto;
    ul {
      margin-top: 0px;
      li {
        display: block;
        text-align: center;
        margin-top: 0px;
        a {
          color: grey;
        }
        a:hover {
          background-color: transparent;
          color: $blue;
        }
      }
    }
  }
  #social {
    font-size: 12px;
  }
  // header page
  h1 {
    font-size: 60px;
    margin: 0px 20px -22px 0px;
  }
  h2 {
    font-size: 16px;
  }
  he ader p {
    font-size: 14px;
    margin-top: -18px;
  }
  // about page
  section#about article {
    h3 {
      font-size: 40px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      margin-top: 0px;
      font-size: 16px;
    }
  }
}
